* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-warn: #FFFAE0;
  --main-cold: #19C3FB;

  --main-text: #fafafa;
  --main-search-text: #313131;
  ;
}

body {
  font-family: 'Helvetica', sans-serif;
  color: var(--main-text);
  background: linear-gradient(315deg, rgba(25,195,251,1) 0%, rgba(29,113,242,1) 25%, rgba(25,195,251,1) 75%, rgba(29,113,242,1) 100%);
}

.app {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
}

main {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 25px 15px 10px;
}

.nav-bar {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

.cities-button {
  width: 120px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;
  color: var(--main-search-text);
  font-weight: 700;

  transition: 0.4s ease;
}

.cities-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.search-box {
  width: 100%;
  height: 40px;
  margin: 0 0 24px;
  display: flex;
  justify-content: space-between;
}

.search-box .search-bar {
  display: block;
  width: 60%;
  height: 100%;
  padding-left: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  
  box-shadow: 0px 5px rgba(0, 0, 0, 0.01);

  font-size: 20px;
  color: var(--main-search-text);
  text-transform: capitalize;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.search-box .search-bar::placeholder {
    text-transform: lowercase;
}

.search-icon {
  height: 100%;
  width: 50px;
  padding: 0px 10px;
  margin-left: 10px;

  cursor: pointer;
  
  border-radius: 10px;
}

.search-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.weather-unit {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.weather-unit button {
  width: 40px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  border-radius: 10px;

  font-size: 20px;
  color: var(--main-text);
  font-weight: 700;

  cursor: pointer;

  transition: 0.4s ease;
}

.weather-unit button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.weather-unit p {
  font-size: 37px;
  margin: 0px 8px;
}


.location-info .location {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 400;
  display: flex;
}

.location .location-icon {
  margin-right: 24px;
}

.location-info .date {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

.weather-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px 0;
}

.weather-details .temp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
}

.temp p {
  font-size: 120px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.temp img {
  width: 200px;
  object-fit: cover;
}

.weather-details .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255,255,255, 0.1);
}

.info-weather {
  font-size: 40px;
  font-weight: 700;
  color: #4DD0E1;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.info-flex {
  display: flex;
}

.info-flex p {
  font-size: 16px;
}

.info-flex .icon {
  margin-right: 8px;
}

.forecast-title {
  font-size: 20px;
  text-transform: uppercase;
}

hr {
  margin-top: 8px;
}

.forecast-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 16px 0;
}

.forecast-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.forecast-box img {
  max-width: 60px;
  object-fit: cover;
}

.selected {
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.4s ease;
  color: var(--main-search-text)
}

.weather-unit button.selected-unit{
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.4s ease;
  color: var(--main-search-text)
}