* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-warn: #FFFAE0;
  --main-cold: #19C3FB;

  --main-text: #fafafa;
  --main-search-text: #313131;
  ;
}

body {
  font-family: 'Helvetica', sans-serif;
  color: var(--main-text);
}

.app {
  background-color: var(--main-cold);
}

main {
  width: 100vw;
  height: 100vh;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  
  box-shadow: 0px 5px rgba(0, 0, 0, 0.01);

  font-size: 20px;
  color: var(--main-search-text);

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.80);
}

.location-info .location {
  font-size: 20px;
  font-weight: 400;
}

.location-info .date {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

.weather-info .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 5px;
  padding: 20px 40px;

  font-size: 72px;
  font-weight: 900;

  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.weather-info .weather {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}