* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-warn: #FFFAE0;
  --main-cold: #E3F4FE;

  --main-serchbar-tex: #313131
  ;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.app {
  background-color: var(--main-cold);
}

main {
  width: 100vw;
  height: 100vh;
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  
  box-shadow: 0px 5px rgba(0, 0, 0, 0.01);

  font-size: 20px;
  color: var(--main-serchbar-tex);

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.80);
}